.InputForm {
	font-family: 'Futura-light';
}

.form-submit-button {
	align-vertical: right;
	background-color: transparent;
  	border: 2px #303E4E solid;
  	color: #303E4E;
  	
}


.genereated-message {
	overflow: auto;
	background-color: #BADFD4;
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
	padding: 10%;
	min-height: 40vh;
	border-radius: 10px;
	margin-top: 10%;
}
